* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
}

/* GRID SYSTEM */
img {
  width: 100%;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1200px;
  margin: 70px auto;
  background-color: lightcoral;
  box-shadow: 1px 1px 3px gray;
}

.img-container {
  margin: 10px;
  border: solid 2px blue;
}

/* MEDIA QUERY */
@media screen and (max-width: 1200px) {
  .grid-container {
    background-color: blue;
    width: 800px;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 900px) {
  .grid-container {
    background-color: yellow;
    width: 80%;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 600px) {
}

/* MAIN CONTAINER */
.header-container {
  background-color: firebrick;
  color: white;
  display: flex;
  width: 100%;
}

.header-container > div {
  border: 1px solid blue;
  padding: 20px;
}

.header-container > div:nth-child(3) {
  margin: 0 0 0 auto;
}

/* Intro container */
.intro-container {
  display: grid;
  height: 300px;
  grid-template-columns: 20% 50% 30%;
}

.nav-menu {
  background-color: lightblue;
}

.content {
  background-color: azure;
}

.blog {
  background-color: yellow;
}

.footer {
  background-color: black;
  color: white;
  height: 200px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer > div {
  border: solid pink 2px;
}

/* Tablet View 900 Pixels */
@media screen and (max-width: 900px) {
  .nav-menu {
    background-color: olive;
  }

  .content {
    background-color: aliceblue;
    grid-column: span 2;
  }

  .blog {
    background-color: purple;
    grid-column: span 3;
  }
}

/* Smartphone View 600 Pixels */
@media screen and (max-width: 600px) {
  .nav-menu {
    grid-column: span 3;
  }

  .content {
    grid-column: span 3;
  }
}
